* {
	box-sizing: border-box;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

body {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    color: solid black;
}

#header-nav {
    background-color: grey;
    color: solid black;
    font-family: Georgia, serif;
    height: 80px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}

#menu{
	font-family: Georgia, serif;
	text-align: center;
	padding: 30px;
}

.menu-item{
	text-align: center;
	border-style: solid;
	border-color: black;
}

#chicken{
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #8CD543;
	padding: 5px;
}

#menu-list{
	color: white;
}

