* {
	box-sizing: border-box;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

body {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    color: solid black;
}

#header-nav {
    background-color: grey;
    color: solid black;
    font-family: Georgia, serif;
    height: 80px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}
#nav-list {
  color: white;
}

hr {
  border-color: white;
}

#menu{
	font-family: Georgia, serif;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.menu-item{
	text-align: center;
	border-color: black;
	border-bottom: 2px solid black; 
}
.menu-item{
	text-align: center;
	border-color: black;
	border-bottom: 2px solid black; 
}
.menu-last{
	color:#9B4EDF;
	font-weight: bold;
	text-align: center;
	border-color: black;
	border-bottom: 2px solid black; 
}


#chicken{
	width: 100%;
	height: auto;
	margin-left: 3%;
	margin-right: 3%;
	background-color: #8CD543;
	padding: 10px;
}

#menu-list{
	color: white;
	font-size: 1.2em;

}

