body {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    color: solid black;
    //background-color: #8CD543;
}

#header-nav {
    background-color: #47403F;
    color: solid black;
    font-family: cursive;
    font-size: 20px;
}

#menu{
	background-color:#FCF3F1;
	font-family: Georgia, serif;
	text-align: center;
	padding: 30px;
}

#chicken{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #8CD543;
	padding: 5px;
}

